.swiper-button-prev::after,
.swiper-button-next::after {
  color: #ffba08;
}

div.swiper-button-prev {
  left: 45px;

  @media (max-width: 500px) {
    left: 15px;

    &::after {
      font-size: 24px;
    }
  }
}

div.swiper-button-next {
  right: 45px;

  @media (max-width: 500px) {
    right: 15px;

    &::after {
      font-size: 24px;
    }
  }
}

span.swiper-pagination-bullet {
  background-color: #999999;
  width: 16px;
  height: 16px;
  opacity: 1;

  @media (max-width: 500px) {
    width: 8px;
    height: 8px;
  }
}

span.swiper-pagination-bullet-active {
  background-color: #ffba08;
}
